@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
/* font-family: 'Poppins', sans-serif; */

@font-face {
  font-family: "sf_distant_galaxyregular";
  src: url("fonts/sf_distant_galaxy-webfont.woff2") format("woff2"),
    url("fonts/sf_distant_galaxy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'sf_distant_galaxy_outlineRg';
  src: url('sf_distant_galaxy_outline-webfont.woff2') format('woff2'),
       url('sf_distant_galaxy_outline-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

* {
  margin: 0px;
  padding: 0px;
}

a, p, h2, h3{
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0d1216;
  position: relative;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

/* .posts {
  max-width: 500px;
  color: white;
  text-decoration: none;
} */

.loading {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  background-color: #050c12;
  /* border-bottom: #dedede solid 2px; */
}

.burgerLogo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar-head {
  display: none;
}

.header-logo {
  margin: 0 auto;
  padding: 10px;
  /* z-index: 999; */
}

.header-logo img {
  max-width: 100px;
}

.hamburger {
  position: absolute;
  margin: 20px 0 0 10px;
  z-index: 999;
}

.hamburger img {
  width: 100px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #445C64 solid 2px;
  color: white;
  height: 100px;
}

.navbar {
  position: absolute;
  top: 0;
  transition: 0.3s;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  background-color: #445C64;
}

.navbar-active {
  transform: translateX(0%);
}

.cross{
  display: none;
}

/* .cross img {
  width: 10px;
} */

/* .display-none {
  display: none;
} */

.navbar li {
  text-align: center;
  width: 100%;
}

.navbar a {
  display: block;
  color: #050c12;
  padding: 15px 0px;
  font-family: "sf_distant_galaxyregular";
}

.slidein {
  position: relative;
  top: 0px;
  height: auto;
}

.hero {
  display: flex;
  background-image: url(media/Fighterscomp.png);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.heroText {
  /* color:white; */
  font-size: 16px;
  margin: 200px auto;
  font-family: "sf_distant_galaxyregular";
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  letter-spacing: 3.5px;
}

.hero-about {
  display: flex;
  background-image: url(media/DeathStarII-BotF.jpg);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.hero-bloglist {
  display: flex;
  background-image: url(media/Endurance_enters_Vanqor_atmo.png);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.hero-details {
  display: flex;
  background-image: url(media/TCW_Pelta_CAM2_HD.png);
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.hero-contact {
  display: flex;
  background-image: url(media/Coruscant_system-TPM.jpg);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

/* Frontpage*/

.carousel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.carousel div {
  margin: 10px;
  /* font-family: "sf_distant_galaxyregular"; */
}

/* Contact */

form {
  color: white;
  font-family: 'Poppins', sans-serif;
}

#success {
  color: white;
  text-align: center;
}

#message {
  height: 100px;
}

.form-container {
  width: 80%;
  margin: auto;
}

form input {
  width: 100%;
}

form textarea {
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

form label {
  margin-bottom: 5px;
}

.btn-submit {
  align-items: center;
}

/* fieldset {
  width: 100%;
} */

/* Bloglist */

.blogPosts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blogPosts div {
  margin: 10px;
}

.blogPosts h2 {
  text-align: center;
}

.blogPosts p {
  max-width: 250px;
  font-style: italic;
}

.viewMore {
  display: flex;
  justify-content: center;
} 

.more, #submit-btn {
  width: 200px;
  height: 50px;
  color: white;
  background-color: #445C64;
  border: 0px;
  border-radius: 2px;
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}

/* Details */

.posts {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.posts > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
  align-items: center;
}

.posts h2 {
  text-align: center;
}

.posts img {
  margin: 20px 0;
}

.posts p {
  margin: 10px 0;
}



/* About */

.about-us {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 80%;
  margin: 50px auto;
}

.about-us p {
  margin: 10px auto;
}


/* Carousel */

.carousel {
  width: 300px;
  margin: auto;
  overflow: hidden;
  /* border: 5px solid black; */
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 400px;
  z-index: 0;
  /* margin: 0; */
}

.imgContainer img {
  object-fit: cover;
  width: 260px;
  height: 350px;
  border-radius: 10px;
}

#prevBtn{
  position: absolute;
  cursor: pointer;
  left: 12%;
  bottom: 25%;
  z-index: 5;
}

#nextBtn{
  position: absolute;
  cursor: pointer;
  left: 79%;
  bottom: 25%;
}
