@font-face {
  font-family: "sf_distant_galaxyregular";
  src: url("fonts/sf_distant_galaxy-webfont.woff2") format("woff2"),
    url("fonts/sf_distant_galaxy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

a, p {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0d1216;
  position: relative;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.posts {
  max-width: 500px;
  color: white;
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  background-color: #050c12;
  /* border-bottom: #dedede solid 2px; */
}

.burgerLogo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar-head {
  display: none;
}

.header-logo {
  margin: 0 auto;
  padding: 10px;
  /* z-index: 999; */
}

.header-logo img {
  max-width: 100px;
}

.hamburger {
  position: absolute;
  margin: 20px 0 0 10px;
  z-index: 999;
}

.hamburger img {
  width: 100px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #445C64 solid 2px;
  color: white;
  height: 100px;
}

.navbar {
  position: absolute;
  top: 0;
  transition: 0.3s;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 0;
  background-color: #445C64;
}

.navbar-active {
  transform: translateX(0%);
}

.navbar li {
  text-align: center;
  width: 100%;
}

.navbar a {
  display: block;
  color: #050c12;
  padding: 15px 0px;
  font-family: 'sf_distant_galaxyregular';
}

.slidein {
  position: relative;
  top: 0px;
  height: auto;
}

.imgContainer img {
  object-fit: cover;
  width: 250px;
  height: 350px;
}

.hero {
  display: flex;
  background-image: url(media/Fighterscomp.png);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.heroText {
  color: white;
  font-size: 25px;
  margin: 200px auto;
  font-family: "sf_distant_galaxyregular";
}

.hero-about {
  display: flex;
  background-image: url(media/DeathStarII-BotF.jpg);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.hero-bloglist {
  display: flex;
  background-image: url(media/TheChaseCoverBlips.jpg);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

/* .hero-details {
  display: flex;
  background-image: url(media/Star_Wars_Princess_FDCR.png);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
} */

.hero-contact {
  display: flex;
  background-image: url(media/TheChaseCoverBlips.jpg);
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}


/* Frontpage */

.blog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.blog div {
  margin: 10px;
  /* font-family: "sf_distant_galaxyregular"; */
}

/* Contact */

form {
  color: white;

}

#success {
  color: white;
  text-align: center;
}

#message {
  height: 100px;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding: 10px;
}